@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.imgr{
    -webkit-animation: 5s rotate linear infinite;
    animation: 5s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.maxAltura{
    max-height: 70vh;
    overflow-y: scroll;
}

.maxWidth{
    max-width: 200px;
    overflow-x: hidden;
    border-radius: 10px;
    padding: 0.5px;
    background-color: rgba(240, 248, 255, 0.559);
}

.prueba{
    background-color: #82c0ccda;
}

.container{
    width: 400px;
    max-width: 1200px;
    height: 150px;
    display:ruby;
    flex-wrap: flex;
    justify-content: center;
    margin: 10px;;
    
    
}
.targeta{
    width: 100px;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(20, 32, 138, 0.342);
    overflow: hidden;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    transition: all 0.25s;
    background: #cce8ff;
   

}
.otherform{
    flex-wrap: nowrap;
}

    

.container.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(3, 61, 92, 0.1);
}
.container.card img{
    width: 338px;
    height: 220px;

}
.container.card h4{
    font-weight: 300;

}
.container.card p{
   padding: 0 1rem;
    font-size:8px;
    font-weight: 150;
}

.x{
    background-color: #a5def1dc;
}